@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=BioRhyme');

body{
    background-color: white !important;
    
}
#navbar-example2{
    background-color: #fad888 !important;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}
.navbar-brand{
    font-size: 25px;
}
#About{
    font-family: 'Amatic SC', cursive;
}
.card{
    background-color: #f8d9e9 !important;
}
.card-body{
    font-family: 'BioRhyme', serif;
}

#Projects{
    margin-top: 10px;
    margin-left: 160px;
    width: 690px !important;
    font-family: 'Amatic SC', cursive;
}
img{
    width: 210px;
    height: 210px;
}

.p1, .p2, .p3, .p4, .p5, .p6{
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 50px;
}
.projects{
    height: 300px;
}